/**************************************apaptive*********************************************/
@media(max-width: 1800px) {
  .main-page__tabs-container {
    width: 800px;
    padding: 190px 180px 0px 230px;
  }
  .main-page__item-box {
    width: 90px;
    height: 90px;
  }
  .main-page__item-icon {
    width: 65px;
    height: 65px;
    font-size: 30px;
  }
  .main-page__item-title {
    font-size: 13px;
  }
  .main-page__item-title::before {
    height: 30px;
    width: 110px;
  }
  .main-page__item.main-page__item_1 {
    left: 0px;
  }
  .main-page__item.main-page__item_2 {
    bottom: 50%;
    left: -30px;
  }
  .main-page__item.main-page__item_3 {
    bottom: 61%;
    left: -25px;
  }
  .main-page__item.main-page__item_4 {
    bottom: 72%;
    left: 0px;
  }
  .main-page__item.main-page__item_5 {
    bottom: 82.5%;
    left: 65px;
  }
  .main-page__item.main-page__item_6 {
    bottom: 90%;
    left: 176px;
  }
  .main-page__item.main-page__item_7 {
    bottom: 94.5%;
    left: 298px;
  }
  .main-page__item.main-page__item_8 {
    bottom: 96.5%;
    left: 425px;
  }
  .main-page__item.main-page__item_9 {
    bottom: 94.5%;
    left: 555px;
  }
  .main-page__item.main-page__item_10 {
    bottom: 87%;
    left: 665px;
  }
}
@media(max-width: 1600px) {
  .header .logo {
    width: 140px;
  }
  .header .logo-text {
    font-size: 13px;
    line-height: 18px;
  }
  .header__column:first-child {
    flex: 0 0 335px;
  }
  .header__navigation-list a {
    font-size: 14px;
  }
  .header__phones a {
    font-size: 18px;
  }
  .header__social-item {
    width: 34px;
    height: 34px;
  }
  .header__phones a:first-child {
    margin: 0px 0px 0px 0px;
  }
  .header__column:first-child,
  .header__column:nth-child(2) {
    margin: 0px 30px 0px 0px;
  }
  .title-1 {
    font-size: 60px;
    line-height: 68px;
  }
  .title-2 {
    font-size: 64px;
    line-height: 78px;
}
  .main-page__subtitle {
    font-size: 32px;
    line-height: 44px;
  }
  .production-page {
    background: url("../img/productions-bg.jpg") center 0 no-repeat;
  }
  .page__conditions {
    padding: 80px 0 175px;
  }
}
@media(max-width: 1550px) {
  .main-page__tabs-container {
    width: 720px;
    padding: 150px 180px 0px 230px;
  }
  .main-page__item.main-page__item_1 {
    left: 25px;
  }
  .main-page__item.main-page__item_2 {
    left: -10px;
  }
  .main-page__item.main-page__item_3 {
    left: -40px;
  }
  .main-page__item.main-page__item_4 {
    left: -30px;
  }
  .main-page__item.main-page__item_5 {
    left: 20px;
  }
  .main-page__item.main-page__item_6 {
    left: 128px;
  }
  .main-page__item.main-page__item_7 {
    left: 247px;
  }
  .main-page__item.main-page__item_8 {
    left: 375px;
  }
  .main-page__item.main-page__item_9 {
    bottom: 92.5%;
    left: 497px;
  }
  .main-page__item.main-page__item_10 {
    bottom: 86%;
    left: 605px;
  }
  .page__production {
    padding: 70px 0 65px;
  }
  .conditions-page__discount {
    right: 0;
  }
}
@media(max-width: 1470px) {
  .title-1 {
    font-size: 48px;
    line-height: 56px;
  }
  .title-2 {
    font-size: 52px;
    line-height: 66px;
  }
  .main-page__column:first-child {
    flex: 0 0 560px;
  }
  .main-page__subtitle {
    font-size: 24px;
    line-height: 36px;
  }
  .production-page__box {
    margin: 0px -50px 0px auto;
  }
  .production-page__info-title span {
    font-size: 50px;
  }
  .production-page__info-title {
    font-size: 30px;
    line-height: 42px;
  }
  .production-page__info-text {
    font-size: 20px;
    line-height: 28px;
  }
  .production-page__info {
    max-width: 290px;
    padding: 30px 50px 35px;
  }
  .consultation-page__subtitle {
    bottom: 100px;
    left: 330px;
  }
  .consultation-page__subtitle b {
    font-size: 24px;
    line-height: 32px;
  }
  .consultation-page__subtitle {
    font-size: 20px;
    line-height: 26px;
  }
}
@media(max-width: 1330px) {
  .header .logo {
    width: 72px;
  }
  .header .logo-text {
    padding: 0;
  }
  .header__column:first-child {
    flex: 0 0 267px;
  }
  .header .logo-text {
    display: none;
  }
  .header__column:first-child {
    flex: 0 0 72px;
  }
  .header__column:first-child, 
  .header__column:nth-child(2) {
    margin: 0px 50px 0px 0px;
  }
  .header__column:nth-child(2) {
    flex: 0 1 1390px;
  }
  .page__main {
    padding: 190px 0px 0px 0px;
  }
  .main-page__inner {
    align-items: center;
  }
  .main-page__tabs {
    position: relative;
    top: 0;
  }
  .main-page__tabs-container {
    width: auto;
    min-height: auto;
    background: none;
    padding: 0;
  }
  .main-page__tabs-img {
    display: none;
  }
  .main-page__column:first-child {
    margin: 0px 50px 0px 0px;
  }
  .main-page__column:nth-child(2) {
    flex: 0 1 600px;
  }
  .main-page__items {
    display: flex;
    flex-wrap: wrap;
  }
  .main-page__item {
    width: calc((100% - 30px) / 2);
    display: flex;
    align-items: center;
    margin: 0px 30px 20px 0px;
  }
  .main-page__item:nth-child(2n) {
    margin: 0px 0px 20px 0px;
  }
  .main-page__item.main-page__item_1, 
  .main-page__item.main-page__item_2, 
  .main-page__item.main-page__item_3, 
  .main-page__item.main-page__item_4, 
  .main-page__item.main-page__item_5, 
  .main-page__item.main-page__item_6, 
  .main-page__item.main-page__item_7, 
  .main-page__item.main-page__item_8, 
  .main-page__item.main-page__item_9, 
  .main-page__item.main-page__item_10 {
    position: static;
  }
  .main-page__item-title {
    min-width: 100px;
    margin: 0px 0px 0px 20px;
  }
  .main-page__column:first-child {
    margin: 0px 0px 0px 0px;
    max-width: 600px;
  }
  .production-page__box {
    margin: 0px 0px 0px auto;
  }
  .production-page__btn {
    left: 50px;
  }
  .circle-animation {
    width: 220px;
    height: 220px;
  }
  .circle-animation__box {
    width: 180px;
    height: 180px;
  }
  .production-page .circle-animation__box {
    padding: 60px 30px 10px;
  }
  .production-page .circle-animation__text {
    font-size: 16px;
    line-height: 22px;
  }
  .production-page .circle-animation__box::before {
    top: 25px;
  }
  .conditions-page__discount {
    right: 50px;
  }
  .conditions-page .circle-animation__text {
    font-size: 30px;
  }
  .conditions-page .circle-animation__text b {
    font-size: 54px;
    line-height: 60px;
  }
  .conditions-page__box {
    position: relative;
    z-index: 2;
  }
  .consultation-page__subtitle b {
    font-size: 28px;
    line-height: 34px;
  }
  .consultation-page__subtitle {
    font-size: 18px;
    line-height: 26px;
  }
  .consultation-page .circle-animation__box {
    padding: 10px 25px 0px;
  }
  .consultation-page__subtitle {
    bottom: 140px;
  }
}
@media(max-width: 1140px) {
  .container,
  .container-2 {
    padding: 0 15px;
  }
  .conditions-page__img {
    width: 600px;
  }
  .consultation-page__subtitle {
    bottom: 100px;
    left: 285px;
  }
}
@media(max-width: 1024px) {
  .header {
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 40px 26px -29px rgba(146, 149, 158, 0.5);
    padding: 5px 0;
  }
  .header__inner {
    padding: 0;
  }
  .menu-toggle {
    display: block;
    flex: 0 0 30px;
  }
  .header__btn-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 46px;
    height: 46px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all .3s;
    border-radius: 50%;
  }
  .header__btn-close span::before {
    transform: rotate(-135deg);
  }
  .header__navigation {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 380px;
    height: 100%;
    background-color: #fff;
    padding: 50px 0px 20px 0px;
    transform: translateX(500px);
    transition: all 0.3s;
    box-shadow: 0px 7px 10px 0px rgba(18, 107, 161, 0.5);
    overflow-y: auto;
  }
  .header__navigation-list {
    display: block;
  }
  .header__column:nth-child(2) {
    flex: 0 1 1390px;
  }
  .header__column-box {
    padding: 0;
  }
  .header__inner {
    align-items: center;
  }
  .header__column:nth-child(3) {
    margin: 0px 20px 0px 0px;
  }
  .header__navigation._active {
    transform: translateX(0);
  }
  .header__navigation-list li {
    margin: 30px 0;
    text-align: center;
  }
  .header__navigation-list a {
    font-size: 16px;
    text-transform: uppercase;
  }
  .main-page__item-box {
    width: 50px;
    height: 50px;
  }
  .main-page__inner {
    display: block;
  }
  .page__main {
    padding: 140px 0px 0px 0px;
  }
  .main-page__item-icon {
    border: 0;
  }
  .main-page__subtitle {
    margin: 0px 0px 30px 0px;
  }
  .main-page__column:first-child {
    margin: 0px auto 30px auto;
  }
  .main-page__item {
    justify-content: center;
  }
  .production-page__img {
    display: none;
  }
  .production-page__btn {
    left: auto;
    right: 50px;
    top: auto;
    bottom: 0px;
  }
  .production-page__box {
    margin: 0;
    width: 100%;
  }
  .production-page {
    background: url("../img/productions-bg.jpg") 0 0 no-repeat;
  }
  .production-page__title br {
    display: none;
  }
  .page__production {
    padding: 30px 0 30px;
  }
  .conditions-page__discount {
    bottom: -155px;
  }
  .conditions-page__img {
    width: 500px;
    //filter: blur(5px); // размытие фона
  }
  .page__conditions {
    padding: 30px 0 175px;
  }
  .page__order {
    padding: 30px 0 140px;
  }
  .order-page__title {
    margin: 0px 0px 70px 0px;
  }
  .page__information {
    padding: 30px 0 30px;
  }
  .information-page__title {
    margin: 0px 0px 30px 0px;
  }
  .information-page__item-box {
    padding: 20px 25px;
  }
  .information-page__item-title {
    line-height: 24px;
    margin: 0px 0px 10px 0px;
  }
}
@media(max-width: 900px) {
  .conditions-page__img {
    position: static;
    margin: 0px auto -30px auto;
    width: auto;
  }
  .page__conditions {
    padding: 30px 0 30px;
  }
  .conditions-page__discount {
    bottom: 30px;
    right: 30px;
    margin: 0 auto;
  }
  .consultation-page__inner {
    display: block;
  }
  .consultation-page__form,
  .consultation-page__title {
    margin: 0;
  }
  .consultation-page__subtitle {
    position: static;
    margin: 0 auto 30px auto;
  }
  .top-footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .top-footer__products {
    flex: 0 1 250px;
    margin: 0px 0px 20px 0px;
  }
  .top-footer__menu {
    margin: 0px 30px 20px 0px;
  }
  .top-footer__menu {
    flex: 0 1 170px;
    margin: 0px 30px 0px 0px;
  }
  .top-footer__contacts {
    flex: 0 1 420px;
  }
}
@media(max-width: 760px) {
  .order-page__items {
    display: block;
  }
  .order-page__item {
    margin: 0px 0px 40px 0px;
  }
  .order-page__title {
    margin: 0px 0px 40px 0px;
  }
  .order-page__img {
    position: static;
    display: flex;
    justify-content: center;
  }
  .page__order {
    padding: 30px 0px 0px;
  }
  .information-page__item {
    width: calc((100% - 20px) / 2);
    margin: 0px 20px 20px 0px;
  }
  .information-page__item:nth-child(3n) {
    margin: 0px 20px 20px 0px;
  }
  .information-page__item:nth-child(2n) {
    margin: 0px 0px 20px 0px;
  }
  .top-footer__inner {
    justify-content: space-between;
  }
  .top-footer__contacts {
    flex: 0 1 auto;
  }
  .top-footer__menu {
    margin: 0px 30px 20px 0px;
  }
  .footer__bottom-confidentiality,
  .footer__bottom-copyright {
    margin: 0px 0px 5px 0px;
  }
  .footer__bottom-confidentiality,
  .footer__bottom-copyright,
  .footer__bottom-development {
    flex: none;
  }
  .footer__bottom-development img {
    margin: 0px 0px 0px 10px;
  }
  .footer__bottom-inner {
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 620px) {
  .production-page__info {
    max-width: 100%;
    padding: 35px 30px 25px;
    margin: 0px 0px 40px 0px;
  }
  .production-page__info-text {
    font-size: 16px;
    line-height: 22px;
  }
  .production-page__btn {
    position: static;
  }
  .production-page__btn {
    margin: 0 auto;
  }
  .conditions-page__discount {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media(max-width: 500px) {
  .title-1 {
    font-size: 30px;
    line-height: 38px;
  }
  .title-2 {
    font-size: 32px;
    line-height: 38px;
  }
  .title-3 {
    font-size: 30px;
    line-height: 40px;
  }
  .header {
    box-shadow: 0px 7px 10px 0px rgba(146, 149, 158, 0.5);
  }
  .header__social {
    width: 150px;
    margin: 30px auto 0;
  }
  .header__column:first-child {
    margin: 0px 30px 0px 0px;
    flex: 0;
  }
  .header__column:nth-child(2) {
    position: absolute;
  }
  .header__inner {
    justify-content: space-between;
  }
  .header .logo {
    width: 45px;
  }
  .header__navigation {
    max-width: 100%;
  }
  .page__main {
    padding: 90px 0px 30px 0px;
    min-height: auto;
  }
  .main-page__subtitle,
  .conditions-page__subtitle {
    font-size: 18px;
    line-height: 30px;
  }
  .main-page__subtitle {
    margin: 0px 0px 20px 0px;
  }
  .production-page__text {
    font-size: 14px;
    margin: 0px 0px 15px 0px;
  }
  .production-page__info {
    margin: 30px 0px 40px 0px;
  }
  .conditions-page__title.title-1 {
    text-align: left;
  }
  .conditions-page__text {
    font-size: 14px;
  }
  .conditions-page__subtitle {
    margin: 0px 0px 20px 0px;
  }
  .order-page__item-number {
    font-size: 76px;
    line-height: 82px;
  }
  .order-page__item-img {
    width: 32px;
    height: 31px;
  }
  .order-page__item-box {
    margin: 0;
  }
  .order-page__item-text {
    font-size: 14px;
  }
  .order-page__title {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
  .order-page__item-wrapper {
    padding: 15px 30px 15px;
  }
  .order-page__item:last-child {
    margin: 0px 0px 10px 0px;
  }
  .consultation-page__subtitle b {
    font-size: 24px;
    line-height: 30px;
  }
  .consultation-page__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .information-page__item-title {
    font-size: 16px;
  }
  .information-page__title {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  .top-footer__inner {
    flex-direction: column;
    align-items: center;
  }
  .top-footer__menu {
    margin: 0px 0px 10px 0px;
  }
  .top-footer__menu-list li,
  .top-footer__title,
  .top-footer__address-info {
    text-align: center;
  }
  .top-footer__products {
    flex: none;
    margin: 0px 0px 10px 0px;
  }
  .top-footer__column:first-child {
    margin: 0px 20px 0px 0px;
  }
  .page__information {
    padding: 30px 0 20px;
  }
  .top-footer {
    padding: 30px 0 25px;
  }
  .top-footer__social {
    justify-content: center;
    margin: 0px 0px 20px 0px;
  }
}
@media(max-width: 420px) {
  .title-1,
  .main-page__subtitle {
    text-align: center;
  }
  .main-page__button:last-child {
    margin: 0px 0px 0px 0px;
  }
  .btn-1, 
  .btn-2 {
    height: 50px;
    font-size: 14px;
  }
  .main-page__item {
    margin: 0px 15px 15px 0px;
  }
  .main-page__item:nth-child(2n) {
    margin: 0px 0px 15px 0px;
  }
  .main-page__item-icon {
    font-size: 24px;
  }
  .main-page__item-title {
    margin: 0px 0px 0px 10px;
  }
  .main-page__item-box {
    width: 40px;
    height: 40px;
  }
  .production-page .circle-animation__text {
    font-size: 14px;
    line-height: 20px;
  }
  .circle-animation {
    width: 200px;
    height: 200px;
  }
  .circle-animation__box {
    width: 160px;
    height: 160px;
  }
  .production-page .circle-animation__box::before {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .production-page .circle-animation__box {
    padding: 60px 20px 10px;
  }
  .conditions-page .circle-animation__text {
    font-size: 24px;
  }
  .conditions-page .circle-animation__text b {
    font-size: 44px;
    line-height: 50px;
  }
  .conditions-page .btn-main {
    flex: 0 1 235px;
  }
  .information-page__item {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .information-page__item:nth-child(3n) {
    margin: 0px 0px 20px 0px;
  }
}
@media(max-width: 360px) {
  .main-page__item-title {
    font-size: 12px;
  }
  .main-page__item-title::before {
    width: 100px;
  }
  .main-page__item {
    width: 50%;
    margin: 0px 0px 15px 0px;
  }
  .main-page__item-title {
    margin: 0px 0px 0px 0px;
  }
  .page__production {
    padding: 30px 0 0px;
  }
  .top-footer__column:first-child {
    margin: 0px 20px 0px 0px;
  }
}