%bedas-cyrillic {
  font-family: 'BebasNeueCyrillic';
  font-weight: 400;
}
%bedas-regular {
  font-family: 'BebasNeueRegular';
  font-weight: 400;
}
%bedas-bold {
  font-family: 'BebasNeueBold';
  font-weight: 700;
}
%musio-medium {
  font-family: 'MuseoSansMedium';
  font-weight: 700;
}
